/* 
    content-box: width + padding + border = tamanho do elemento
    border-box: mantém o width especificado (nao aumenta o tamanho do elemento)
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    color: #263138;
}

header {
    background-color: #ff9a6c;
}