@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

body {
    margin: 0px;
}

div.post-container {
    width: 70vw;
    height: 100vh;
    margin: 0px auto 0px auto;
    background-color: #fcf5f5;
}

div.post {
    margin-bottom: 50px;
    padding-top: 20px;
    padding-left: 20px;
}

h1 {
    font-family: 'Montserrat', sans-serif;
}

div.post-content {
    width: 90%;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}

p.date {
    font-family: 'Roboto', sans-serif;
    color: #008080;
}


